*.sh
.idea

backend/*.log
backend/.DS_Store
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/.fleet
backend/.idea
backend/.nova
backend/.phpunit.cache
backend/.vscode
backend/.zed
backend/auth.json
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/Homestead.json
backend/Homestead.yaml
backend/Thumbs.db
backend/storage/coverage-html/
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pids
frontend/*.pid
frontend/*.seed
frontend/*.pid.lock
frontend/lib-cov
frontend/coverage
frontend/.nyc_output
frontend/.grunt
frontend/bower_components
frontend/.lock-wscript
frontend/build/Release
frontend/node_modules/
frontend/jspm_packages/
frontend/typings/
frontend/.npm
frontend/.eslintcache
frontend/.node_repl_history
frontend/*.tgz
frontend/.yarn-integrity
frontend/.env